# Fișiere Python compilate
__pycache__/
*.py[cod]

# Fișiere de configurare și baze de date (SECRETE!)
.env
trading_bot.db

# Configurări de sistem (Specifice serverului)
goldbot.service
*.service
goldbot.service
